//主色调
$baseColor:#409eff;
//主要文字
$gray08:#303133;
//常规文字
$gray09:#606266;
//次要文字
$gray10:#909399;
//占位文字
$gray11:#C0C4CC;

//红色
$red01:#F56C6C;
//蓝色
$blue01:#8aa4af;
//灰色
$gray01:#909090;
$gray02:#b8c7ce;
$gray03:#F8F8F8;
$gray04:#666;
$gray05:#ebedf0;
$gray06:#F7F7F7;
$gray07:#969799;
//黑色
$black01:#000;
$block02:#323233;
//绿色
$green01:#67C23A;
//白色
$white01:#fff;
