//主色调
$baseColor:#409eff;
//主要文字
$gray08:#303133;
//常规文字
$gray09:#606266;
//次要文字
$gray10:#909399;
//占位文字
$gray11:#C0C4CC;

//红色
$red01:#F56C6C;
//蓝色
$blue01:#8aa4af;
//灰色
$gray01:#909090;
$gray02:#b8c7ce;
$gray03:#F8F8F8;
$gray04:#666;
$gray05:#ebedf0;
$gray06:#F7F7F7;
$gray07:#969799;
//黑色
$black01:#000;
$block02:#323233;
//绿色
$green01:#67C23A;
//白色
$white01:#fff;
.red01{
  color: $red01;
}
.blue01{
  color: $blue01;
}
.gray01{
  color: $gray01;
}
.gray02{
  color: $gray02;
}
.gray03{
  color: $gray03;
}
.gray04{
  color: $gray04;
}
.gray05{
  color: $gray05;
}
.gray06{
  color: $gray06;
}
.gray07{
  color: $gray07;
}
.gray08{
  color: $gray08;
}
.gray09{
  color: $gray09;
}
.gray10{
  color: $gray10;
}
.gray11{
  color: $gray11;
}
.black01{
  color: $black01;
}
.black02{
  color: $block02;
}
.white01{
  color: $white01;
}
.green01{
  color: $green01;
}
.baseColor{
  color: $baseColor;
}