//发布新品
.addProduct {
  //颜色选择
  .color_choose {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 99;
    background: $white01;
    line-height: 2;
    border: 1px solid #f2f2f2;
    .color_title {
      padding: 20px 10px;
      border-right: 1px solid #f2f2f2;
    }
    .color_cont {
      padding: 10px 20px 20px;
      ul {
        li {
          padding: 0 20px;
        }
      }
    }
  }

  .color_bg {
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
  }

    padding: 10px;
    background: $white01;
    .el-form {
      margin-top: 30px;
    }


  .categoryUl {
    padding: 0 10px;
    margin: 10px auto;
    height: 200px;
    border: 1px solid #f2f2f2;
    line-height: 30px;
    li {
      cursor: pointer;
    }
  }

  .intro {
    .el-form-item__content {
      line-height: 1;
    }
  }

  .product_tit {
    padding: 10px;
    margin: 10px 0;
    background: $gray06;
  }

  .setMore {
    padding: 0 20px;
    .el-collapse-item__header {
      color: $baseColor;
    }
  }

  .specifications {
    .el-form-item {
      margin-bottom: 10px;
    }
  }

  .choosecCategory span {
    padding: 0 5px;
  }

  /*颜色规格*/
  .color_input {
    width: 200px;
  }

  .el-dialog__body {
    img {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
  }

  .specifications {
    padding: 2%;
    background: $gray06;
    ul {
      li {
        margin: 10px 0;
      }
      &.size_product {
        li {
          display: inline-block;
          margin-right: 20px;
        }
      }
      &.batch_product {
        li {
          display: inline-block;
          input {
            width: 80px;
          }
        }
      }
    }
  }

  .spec_img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $gray11;
    margin: 0 0 0 20px;
    padding: 0;
    border: 1px solid #ccc;
    line-height: 50px;
  }

  .categoryUl .selected {
    color: $white01;
    background: $baseColor;
  }

  .addSpecButton2{
    margin-bottom: 20px;
  }
  .tit_input {
    padding: 0 !important;
    .el-input__inner{
      width: 50px;
      padding: 0 5px;
    }
  }
  .check_input{
    height: 43px;
    padding: 0;
    .el-checkbox__input{
      float: left;
      margin-top: 15px;
    }
    .el-checkbox__label{
      float: left;
      font-size: 0;
      height: 43px;
      line-height: 43px !important;
    }
  }
  .specTwoTable{
    .cell{
      line-height: 1 !important;
    }
  }
  .el-table__body .cell .el-input__inner{
    padding: 0 5px !important;
  }
}