.warehouse{
  padding: 10px;
  background: $white01;
  //出库单
  .out_btn{
    padding: 10px;
  }
  .demo-form-inline{
    padding: 10px;
    background: $gray06;
    .el-form-item{
      margin-bottom: 0;
    }
  }
  //仓库管理
  .view{
    .el-form--inline{
      background: $white01;
      .el-form-item{
        margin-bottom: 0;
      }
    }
    .sub{
      display: inline-block;
      padding: 0 10px 20px;
    }

  }
  .product{
    .img{
      width: 60px;
      height: 60px;
      margin-right: 10px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .category{
    .el-dialog{
      padding: 10px;
    }
    .el-dialog__header{
      padding: 2px 0 10px;
      border-bottom: 1px solid $gray02;
    }
    .el-dialog__body{
      padding: 0;
    }
    .dialog-footer{
      &>span{
        margin-right: 40px;
      }
    }
    .el-tree{
      width: 180px;
    }
    .categoryProduct{
      width: 670px;
      padding-left: 20px;
      border-left: 1px solid $gray02;
    }
  }
  .goAddProduct{
    margin-bottom: 10px;
  }

}